@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html>
<head>
    <title>Оценки</title>
</head>
<body>
    <h1>Оценки по предметам</h1>
    <p>
        <form action="\result" method="post">
            @for(int i = 1; i < 11; i++)
            {
                <label>Название предмета @i:</label>
                <input type="text" id=@("subject"+i) name=@("subjects")>
                <label>Оценка:</label>
                <input type="number" id=@("assessment"+i) name=@("assessments")>
                <br>
                <br>
            }
            <p>
            @for(int i = 1; i < 4; i++)
            {
                <t>Выберите цвет @i:<input type="color" name=@("colors") value="#ff0000" /></t>
            }
            </p>
        <input type="submit" value="Подтвердить" />
        </form>
    </p>
</body>
</html>
